::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 6px;

  &:hover {
    background-color: #0009;
  }
}

:root {
  /* scrollbar-gutter: stable; */
  --color-bg-primary: #fff0;
  --color-shape-highlight-medium: #0002;
  --color-control-accent: #000d;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle at 60% 90%,
      rgba(46, 103, 161, 1),
      transparent 60%),
    radial-gradient(circle at 20px 20px,
      rgba(46, 103, 161, 0.8),
      transparent 25%),
    #182336;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.25;
  backdrop-filter: blur(16px);
}

.page {
  display: flex;
  flex-direction: column;
  background-color: #0009;

  #header {
    background-color: #fff0;
    width: 100% !important;
    position: relative;
    flex-shrink: 0;
    backdrop-filter: blur(4px);
  }

  >.wrapper {
    flex: 1;
    margin: 0 10px 10px 10px;
    border-radius: 14px;
  }
}


#bodyWrapper,
.pageMain,
.setWrapper {
  background-color: #fff;
  padding-top: 0 !important;
}

.pageMainGraph .wrapper {
  background-color: #fff;
  border-radius: 6px;
  margin: 0 10px 10px 0;
}



.sidebar {
  background-color: #fff0;

  .inner>.body {
    scrollbar-gutter: stable;
  }

  .fixed .inner>.body {
    scrollbar-gutter: stable;
    overflow: overlay !important;
  }
}

.widget {
  transition: all 0.2s ease-out;
  border-radius: 6px;

  &:hover {
    background-color: #0001;
  }
}

.blocks .block.blockText.textQuote>.wrapContent>.additional>.line {
  border: none;
  width: 3px;
  background-color: #333;
  border-radius: 6px;
}

.content {
  background-color: #fff0;
}

.listPreviewObject .item {

  &.add,
  .previewObject {
    background-color: #fff;

  }
}

.menus {
  .menu {
    backdrop-filter: blur(16px);
    background-color: #fff6;

    &.vertical {
      .item {
        background-color: unset;
      }

      .section::after {
        background-color: #0003;
      }
    }

  }

  .content {
    background-color: #fff4;
    backdrop-filter: blur(16px);
  }
}

.button {
  border-radius: 6px;

  &.blank {
    background-color: #0001;
  }

  &.black {
    color: #fff;
  }
}

.tooltip {
  color: #fff;
}

.blocks .block .icon.dnd {
  border-radius: .5rem;
}

.editorControls .btn {
  border-radius: 3px;
}

.header {
  .path {
    background-color: #0001;
    border-radius: 6px;

    &:hover {
      border-color: #0002 !important;
    }
  }

  .sync {
    background-color: #0001;
    color: var(--color-text-primary);
    height: 28px;
    padding: 0 8px;
  }

}

.navigationPanel {
  border-radius: 8px;
  padding: 4px 8px;
  height: 40px;
}

.body,
.header,
.head {
  .icon {

    &.plus,
    &.relation,
    &.more,
    &.toggle,
    &.collapse,
    &.btn-search,
    &.btn-settings {
      filter: invert(1);
      mix-blend-mode: screen;

      &:hover,
      &.hover {
        background-color: #fff1;
      }
    }
  }
}

.pageFlex {
  scrollbar-gutter: none;
  overflow: hidden;

  backdrop-filter: blur(16px);
}

.page,
.setWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0000;
  backdrop-filter: blur(16px);

  >.wrapper {
    flex: 1;
    padding: 10px !important;
    box-sizing: border-box;
    height: calc(100% - 52px);
    border-radius: 6px;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;

    &.blocks {
      margin-bottom: 10px;
      background-color: #fff;
    }

    .editorWrapper.withIconAndCover {
      padding-top: 250px;
    }
  }
}

.pageMainSet .wrapper {
  width: 100%;
  padding-top: 60px;
}

.setWrapper {
  >.blockCover {
    display: none;
  }
}

.pageMainStore .body .mid .filter .inner {
  background-color: #fff;
  border-radius: 6px;
}

.pageMainStore .body .items .item .flex {
  background-color: #fff;
  border-radius: 6px;
}

.popups .popup .innerWrap {
  background-color: #fff;
}

.listWidget>.buttons .button {
  background-color: #fff;
}
