::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 6px;
}

:root {
  --color-bg-primary: #fff0;
  --color-shape-highlight-medium: #0002;
  --color-control-accent: #000d;
}

body {
  position: relative;
  font-family: 'SN Pro';
}

body::before,
.sidebar::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle at 60% 90%,
      rgba(46, 103, 161, 1),
      transparent 60%),
    radial-gradient(circle at 20px 20px,
      rgba(46, 103, 161, 0.8),
      transparent 25%),
    #18233699;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
  backdrop-filter: blur(16px);
}

.page {
  display: flex;
  flex-direction: column;
  background-color: #0009;

  #header {
    background-color: #fff0;
    width: 100% !important;
    position: relative;
    flex-shrink: 0;
    backdrop-filter: blur(4px);
  }

  >.wrapper {
    flex: 1;
    margin: 0 10px 10px 10px;
    border-radius: 14px;
  }
}


#bodyWrapper,
.pageMain,
.setWrapper {
  background-color: #fff;
  padding-top: 0 !important;
}
.pageMainMedia {
  > div {
    height: 100%;
  }
  .inner {
    background: #0000 !important;
  }
  .blocks{
    height:calc(100% - 62px);
    border-radius: 6px;
    background-color: #fff;
    &.vertical {
      width: calc(100% - 20px);
    }
  }
}
.pageMainSet .wrapper {
  width: calc(100% - 10px);
  padding-top: 60px;
}
.pageMainType,.pageMainRelation {
  > div {
    display:flex;
    flex-direction: column;
    height: calc(100% - 10px);
  }
  .wrapper{
    background-color: #fff;
    width: calc(100% - 10px);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex:1;
    > * {
      width:50%;
      min-width: 400px;
    }
  }
}
.pageMainGraph .wrapper {
  background-color: #fff;
  border-radius: 6px;
  margin: 0 10px 10px 0;
}

.pageMainArchive .wrapper {
  width: calc(100% - 20px);
  background-color: #fff;
  border-radius: 6px;
  margin: 10px;
}



.sidebar {
  background-color: #fff;
  border-radius: 0 0 6px 3px;
  overflow: hidden;

  &.fixed {
    background-color: #fff0;

    &.sidebar::before {
      display: none;
    }
  }

  .inner>.body {
    scrollbar-gutter: stable;
    padding: 0 3px 6px 6px;
  }

  .fixed .inner>.body {
    scrollbar-gutter: stable;
    overflow: overlay !important;
  }
}

.widget {
  transition: all 0.2s ease-out;
  border-radius: 6px;

  &:hover {
    background-color: #0001;
  }

  &.isPreview .head {
    border-color: #0003;
  }
}

.blocks .block.blockText.textQuote>.wrapContent>.additional>.line {
  border: none;
  width: 3px;
  background-color: #333;
  border-radius: 6px;
}

.content {
  background-color: #fff0;
}

.listPreviewObject .item {

  &.add,
  .previewObject {
    background-color: #fff;
  }
}

.menus {
  .menu {
    backdrop-filter: blur(16px);
    background-color: #fff6;

    &.vertical {
      .item {
        background-color: unset;
      }

      .section::after {
        background-color: #0003;
      }
    }

  }

  .content {
    background-color: #fff4;
    backdrop-filter: blur(16px);
  }
}

.button {
  border-radius: 6px;

  &.blank {
    background-color: #0001;
  }

  &.black {
    color: #fff;
  }
}

.tooltip {
  color: #fff;
}

.blocks .block .icon.dnd {
  border-radius: .5rem;
}

.editorControls .btn {
  border-radius: 3px;
}

.header {
  .path {
    background-color: #0001;
    border-radius: 6px;

    &:hover {
      border-color: #0002 !important;
    }
  }

  .sync {
    background-color: #0001;
    color: var(--color-text-primary);
    height: 28px;
    padding: 0 8px;
  }

}

.navigationPanel {
  border-radius: 8px;
  padding: 4px 8px;
  height: 40px;
}

.body,
.header,
.fromHeader .item,
.head {
  .icon {

    &.plus,
    &.relation,
    &.more,
    &.toggle,
    &.collapse,
    &.btn-search,
    &.btn-settings,
    &.iconMain {

      filter: invert(1);
      mix-blend-mode: screen;

      &:hover,
      &.hover {
        background-color: #fff0;
      }
    }
  }
}

.pageFlex {
  scrollbar-gutter: none;
  overflow: hidden;

  backdrop-filter: blur(16px);
}

.page,
.setWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0000;
  backdrop-filter: blur(16px);

  >.wrapper {
    flex: 1;
    padding: 10px !important;
    box-sizing: border-box;
    height: calc(100% - 52px);
    border-radius: 6px;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;

    &.blocks {
      margin-bottom: 10px;
      background-color: #fff;
    }

    .editorWrapper.withIconAndCover {
      padding-top: 250px;
    }
  }
}



.setWrapper {
  >.blockCover {
    display: none;
  }
}

.pageMainStore .body .mid .filter .inner {
  background-color: #fff;
  border-radius: 6px;
}

.pageMainStore .body .items {
  background-color: #fff;
}

.pageMainStore .body .items .item .flex {
  border-radius: 6px;
}

.popups .popup .innerWrap {
  background-color: #fffd;
  backdrop-filter: blur(16px);
}

.listWidget>.buttons .button {
  background-color: #fff;
}

.empty,
.emptyText {
  color: #0009;
}

.toast {
  background-color: #0009;
  backdrop-filter: blur(16px);
  color: #fff;
  border-radius: 6px;
}

.footer .iconWrap .bg {
  background-color: #fffd;
  backdrop-filter: blur(16px);
}

html {
  &.themeDark {

    body::before,
    .sidebar::before {

      background: linear-gradient(to right,
          #04003db2 100px, #613d0980, #05132199);
      opacity: .6;
    }

    .sidebar {
      background-color: #1414144d;
    }

    .page,
    .setWrapper {
      >.wrapper {
        &.blocks {
          background-color: #1414144d;
        }
      }
    }

    #bodyWrapper,
    .pageMain,
    .setWrapper {
      background-color: #1414144d;
    }
    .pageMainMedia {
      .blocks{
        background-color: #0000;
      }
    }
    .pageMainGraph .wrapper {
      background-color: #0000;
    }

    .pageMainArchive .wrapper {
      background-color: #0001;
    }

    .pageMainType,.pageMainRelation {
      .wrapper{
        background-color: #0000;
      }
    }


    .empty,
    .emptyText {
      color: #fffd;
    }

    .widget {
      &:hover {
        background-color: #fff1;
      }

      &.isPreview .head {
        border-color: #fff3;
      }
    }

    .menus {
      .menu {
        background-color: #0007;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, .2), 0px 0px 0px 2px #39393383 inset;

        &.vertical {
          .section::after {
            background-color: #fff3;
          }
        }
      }

      .content {
        background-color: #0000;
      }
    }

    .pageMainStore .body .mid .filter .inner {
      background-color: #fff0;
    }

    .pageMainStore .body .items {
      background-color: #fff0;
    }

    .footer .iconWrap .bg {
      background-color: #1414149d;
    }

    .toast {
      background-color: #fff4;
      color: #ddd;
    }

    .popups .popup .innerWrap {
      background-color: #000c;
    }

    .icon {
      filter: none !important;
    }

    .block.blockCover .elements .btn.white:hover {
      background-color: #fff4;
    }

    .navigationPanel {
      background-color: #ffffff09;
    }
    .listPreviewObject .item {

      &.add,
      .previewObject {
        background-color: #0000;
      }
    }
    .block.blockCover {

      border-radius: 12px;

      .wrapContent {
        mask: radial-gradient(#000 65%, #000a);
      }


      #cover {
        opacity: .85 !important;
      }
    }

    --color-bg-primary: #fff0;
    --color-shape-highlight-medium: #fff4;
    --color-control-accent: #fffd;
    --color-shape-secondary:#0009;

    ::-webkit-scrollbar-thumb {
      background-color: #fff3;
    }
  }
}

